<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 offset-lg-3 col-12">
            <label for="monthDropdown">Month</label>
            <br>
            <p-dropdown id="monthDropdown" [options]="months" [(ngModel)]="selectedMonth"
                [style]="{width: '100%'}"></p-dropdown>
        </div>
        <div class="col-lg-3 col-12">
            <label for="yearDropdown">Year</label>
            <br>
            <p-dropdown id="yearDropdown" [options]="years" [(ngModel)]="selectedYear"
                [style]="{width: '100%'}"></p-dropdown>
        </div>
        <div class="col-lg-2 col-6 d-flex flex-column justify-content-between">
            <div></div> <!-- Spacer to push the button to the bottom -->
            <div>
                <p-button (click)="doesCalendarAlreadyExist()">Search</p-button>
            </div>
        </div>
        <div class="col-lg-1 col-6 d-flex flex-column justify-content-between">
            <div></div> <!-- Spacer to push the button to the bottom -->
            <div>
                <label for="lockedSwitch">Locked</label>
                <p-inputSwitch [(ngModel)]="locked" id="lockedSwitch" (ngModelChange)="updateLocked()"></p-inputSwitch>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 25px; font-weight: bold; padding-left:15px">
    <div class="col-lg-10 col-12">
        <div class="col-lg-6 col-12" style="display: inline-block;">
            <div class="col-lg-3 col-12" style="display: inline-block;"></div>
            <div class="col-lg-3 col-12" style="display: inline-block;">Friday</div>
            <div class="col-lg-3 col-12" style="display: inline-block;">Saturday</div>
            <div class="col-lg-3 col-12" style="display: inline-block;">Sunday</div>
        </div>
        <div class="col-lg-6 col-12" style="display: inline-block;">
            <div class="col-lg-3 col-12" style="display: inline-block;">Monday</div>
            <div class="col-lg-3 col-12" style="display: inline-block;">Tuesday</div>
            <div class="col-lg-3 col-12" style="display: inline-block;">Wednesday</div>
            <div class="col-lg-3 col-12" style="display: inline-block;">Thursday</div>
        </div>
    </div>
</div>

<div class="row" *ngIf="billsArrayForMonth">
    <div class="col-12" *ngFor="let week of billsArrayForMonth">
        <div class="col-lg-10 col-12" style="display: inline-block">
            <div class="col-lg-6 col-12" style="display: inline-block;">
                <app-calendar-entry></app-calendar-entry>
                <app-calendar-entry [billsArrayForMonth]="week[0]"></app-calendar-entry>
                <app-calendar-entry [billsArrayForMonth]="week[1]"></app-calendar-entry>
                <app-calendar-entry [billsArrayForMonth]="week[2]"></app-calendar-entry>
            </div>
            <div class="col-lg-6 col-12" style="display: inline-block;">
                <app-calendar-entry [billsArrayForMonth]="week[3]"></app-calendar-entry>
                <app-calendar-entry [billsArrayForMonth]="week[4]"></app-calendar-entry>
                <app-calendar-entry [billsArrayForMonth]="week[5]"></app-calendar-entry>
                <app-calendar-entry [billsArrayForMonth]="week[6]"></app-calendar-entry>
            </div>
        </div>
        <div class="col-lg-2 col-12" style="display: inline-block">
            <app-calendar-weekly-summary></app-calendar-weekly-summary>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="month">
    <div class="col-12" *ngFor="let week of month">
        <div class="col-lg-10 col-12" style="display: inline-block">
            <div class="col-lg-6 col-12" style="display: inline-block;">
                <app-calendar-entry></app-calendar-entry>
                <app-calendar-entry [day]="week[0]"></app-calendar-entry>
                <app-calendar-entry [day]="week[1]"></app-calendar-entry>
                <app-calendar-entry [day]="week[2]"></app-calendar-entry>
            </div>
            <div class="col-lg-6 col-12" style="display: inline-block;">
                <app-calendar-entry [day]="week[3]"></app-calendar-entry>
                <app-calendar-entry [day]="week[4]"></app-calendar-entry>
                <app-calendar-entry [day]="week[5]"></app-calendar-entry>
                <app-calendar-entry [day]="week[6]"></app-calendar-entry>
            </div>
        </div>
        <div class="col-lg-2 col-12" style="display: inline-block">
            <app-calendar-weekly-summary></app-calendar-weekly-summary>
        </div>
    </div>
</div> -->