.link {
    color: #38bdf8;
    font-weight: bold;
    cursor: pointer;
}
.link:hover{
    color: #1275aa !important;
    text-decoration: underline;
}

.link-paid {
    color: #34d399;
    font-weight: bold;
    cursor: pointer;
}
.link-paid:hover{
    color: #28ad80 !important;
    text-decoration: underline;
}

.greyed-out {
    opacity: 0.5; /* You can adjust the opacity to control the "greyed-out" effect */
    pointer-events: none; /* This prevents interactions with the card when greyed out */
  }
  