<div class="col-lg-3 col-12" style="display: inline-block; padding: 5px; vertical-align: bottom;">
    <p-card *ngIf="billsArrayForMonth" [style]="{'min-height': '250px'}" [ngClass]="{ 'greyed-out': wrongMonthLocked }">
        <div>{{billsArrayForMonth.day}}
            <span *ngIf="locked && !wrongMonthLocked" style="float: right;"><i class="pi pi-lock" style="font-size: 12px;"></i></span>
        </div>
        <div class="p-card-content"  [ngStyle]="{'font-size': mobile ? '16px' : '14px'}">
            <div class="row">
                <div class="col-12" style="display: inline-block;">
                    <div *ngIf="billsArrayForMonth.income && billsArrayForMonth.income.length > 0" [ngStyle]="{'font-size': mobile ? '16px' : '8px'}">
                        <div *ngFor="let paycheck of billsArrayForMonth.income" class="income" (click)="addException(paycheck)">
                            {{paycheck.data.name}}-{{paycheck.data.amount}}
                        </div>
                    </div>
                    <div *ngFor="let bill of billsArrayForMonth.listOfBills">
                        <div 
                            #targetEl 
                            [ngClass]="{'link-paid': bill.data.data.paid && !locked, 'link': !bill.data.data.paid && !locked, 'locked-link-paid': bill.data.data.paid && locked, 'locked-link': !bill.data.data.paid && locked}" 
                            [ngStyle]="{'font-size': mobile ? '16px' : '12px'}"
                            (click)="!locked ? op.show($event, targetEl) : null">
                                {{bill.data.data.bill.name}} <span *ngIf="locked" [ngStyle]="{'font-size': mobile ? '12px' : '8px'}">(${{bill.data.data.bill.amount}})</span>
                                
                                <span *ngIf="billsArrayForMonth.day !== bill.data.data.bill.dueDay" pTooltip="Moved from original due date: {{bill.data.data.bill.dueDay}}" style="color: rgb(209, 108, 13)">
                                    <i class="pi pi-arrow-right"></i>
                                </span>
                        </div>
                        <p-overlayPanel #op>
                            <div  [ngStyle]="{'font-size': mobile ? '16px' : '14px'}">
                                <div style="margin-bottom: 8px; width: 100%; text-align: center">
                                    <b>{{bill.data.data.bill.name}}</b>
                                    <br>
                                    <b>${{bill.data.data.amount}}</b>
                                </div>
                                <div *ngIf="bill.data.data.bill.billVariableFlag" style="margin-bottom: 8px;" class="link" (click)="editBillConfirm(bill)">
                                    <i class="pi pi-pencil" pTooltip="Edit"></i>Edit
                                </div>
                                <div *ngIf="!bill.data.data.paid" class="link-paid" (click)="markAsPaid(bill)">
                                    <i class="pi pi-money-bill" pTooltip="Mark as Paid" ></i> Mark as paid
                                </div>
                                <div *ngIf="bill.data.data.paid" class="link" (click)="markAsNotPaid(bill)">
                                    <i class="pi pi-minus-circle" pTooltip="Mark as Not Paid"></i> Mark as not paid
                                </div>
                                <div *ngIf="bill.data.data.bill.dueDateModifiableFlag" class="link" (click)="moveBillConfirm(bill)">
                                    <i class="pi pi-arrows-h" pTooltip="Move to another day"></i>Move
                                </div>
                            </div>
                        </p-overlayPanel>
                        
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>


<p-dialog [modal]="true" [(visible)]="showMoveBillConfirmationModal" header="Move bill"
   [style]="{'width': 'auto', 'height': 'auto'}" [closeOnEscape]="false">
    <ng-template pTemplate="content">
        <div *ngIf="movingErrorMessage == '' && !moving">
            <div *ngIf="billsArrayForMonth.day !== movingBill.data.data.bill.dueDay">Original Due Date: {{movingBill.data.data.bill.dueDay}}</div>
            <p-dropdown appendTo="body" [(ngModel)]="newDay" [options]="availableDates"></p-dropdown>
        </div>
        <div *ngIf="moving">
            <i class="pi pi-spin pi-spinner"></i> Moving...
        </div>
        <div *ngIf="movingErrorMessage !== ''">
            {{movingErrorMessage}}
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button type="button" severity="info" (click)="hideMoveModal()" [style]="{'margin-right': '10px'}">Cancel</p-button>
        <p-button type="button" severity="success" [style]="{'margin-right': '15px'}" (click)="moveBill()">Move</p-button>
    </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="showEditBillConfirmationModal" header="Edit amount"
   [style]="{'width': 'auto', 'height': 'auto'}" [closeOnEscape]="false">
    <ng-template pTemplate="content">
        <div *ngIf="editErrorMessage == '' && !editing">
            <input [(ngModel)]="editingBill.data.data.amount">
        </div>
        <div *ngIf="editing">
            <i class="pi pi-spin pi-spinner"></i> Editing...
        </div>
        <div *ngIf="editErrorMessage !== ''">
            {{editErrorMessage}}
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button type="button" severity="info" (click)="hideEditModal()" [style]="{'margin-right': '10px'}">Cancel</p-button>
        <p-button type="button" severity="success" [style]="{'margin-right': '15px'}" (click)="editAmount()">Save</p-button>
    </ng-template>
</p-dialog>