.link {
    color: #38bdf8;
    font-weight: bold;
    cursor: pointer;
}

.link:hover {
    color: #1275aa !important;
    text-decoration: underline;
}

.link-paid {
    color: #34d399;
    font-weight: bold;
    cursor: pointer;
}

.link-paid:hover {
    color: #28ad80 !important;
    text-decoration: underline;
}

.locked-link {
    color: #38bdf8;
}

.locked-link-paid {
    color: #34d399;
}

.greyed-out {
    opacity: 0.5;
    pointer-events: none;
    -webkit-opacity: 0.5;
    pointer-events: none;
    -webkit-pointer-events: none;
}

.income {
    background-color: #34d399; 
    border-radius: 25px; 
    padding-left: 7px; 
    padding-right: 7px; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    color: black; 
    font-weight: bold; 
    margin-bottom: 8px;
    cursor: pointer !important;
}

.income:hover {
    background-color: #26996f; 
}