<div class="container-fluid">
  <div class="row" style="margin-top: 25px;">
    <div class="col-12 col-lg-4 offset-lg-4">

      <p-card header="Create Account" styleClass="register-panel">
        <form #registerForm="ngForm" (ngSubmit)="register()">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <div class="p-messages" *ngIf="errorMessage">
                {{ errorMessage }}
              </div>  
            </div>
          </div>
          

          <div class="p-field">
            <div>
              <label for="email">Email</label>
            </div>
            <div>
              <input id="email" type="email" pInputText [(ngModel)]="email" name="email" required required [style]="{'width': '100%'}" />
            </div>
          </div>

          <div class="p-field" style="margin-top: 15px;">
            <div>
              <label for="password">Password</label>
            </div>
            <div>
              <input id="password" type="password" pPassword [(ngModel)]="password" name="password" required [style]="{'width': '100%'}" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div style="float: right; margin-top: 15px;">
                
                <!-- <button type="button" pButton label="Sign Up with Google" (click)="registerWithGoogle()" [disabled]="isLoading"></button> -->
                <button type="button" pButton icon="pi pi-google" (click)="registerWithGoogle()" [disabled]="isLoading"  style="margin-right: 15px;">
                  <span style="margin-left: 5px;">Sign Up</span>
              </button>
              <button type="submit" pButton label="Create" [disabled]="!registerForm.valid || isLoading"></button>    
              </div>
            </div>
          </div>
          

          <div *ngIf="isLoading" class="loading-indicator">
            Creating account...
          </div>
        </form>
      </p-card>

    </div>
  </div>
</div>