<div class="contain-fluid" style="padding: 25px;">
  <div class="row" style="margin-top: 25px;">
    <div class="col-4" style="display: inline-block">
      <h3>Manage Bills</h3>
    </div>
    <div class="col-1 offset-7" style="display: inline-block">
      <p-button icon="pi pi-plus" (click)="openDialog()"
        [style]="{'border-radius': '30px', 'float': 'right'}"></p-button>
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <p-table [columns]="cols" [value]="listOfBills" [tableStyle]="{ 'min-width': '50rem' }"
        responsiveLayout="stack" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                  <span class="p-column-title" *ngIf="col.header !== 'Actions' && col.header !== 'Details'">{{col.header}}: {{rowData.data[col.field]}}</span>
                  <span class="p-column-title" *ngIf="col.header === 'Actions'">
                    {{col.header}}: 
                    <br>
                    <span style="margin-right: 10px; cursor: pointer;" (click)="edit(rowData.data['id'])"><i class="pi pi-pencil "></i>Edit</span>
                    <br>
                    <span style="margin-right: 10px; cursor: pointer;" (click)="confirmDelete(rowData.data['id'])"><i class="pi pi-trash "></i>Delete</span>
                  </span>
                  <span class="p-column-title" *ngIf="col.header === 'Details'">
                    {{col.header}}: 
                    <i class="pi pi-money-bill" style="color: blue; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.billVariableFlag" pTooltip="Bill Ammount Varies"></i> <!-- Bill Variable -->
                    <i class="pi pi-calendar-minus" style="color: orange; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.dueDateModifiableFlag" pTooltip="Bill Pay Date Can Be Changed"></i> <!-- Date Modifiable -->
                    <i class="pi pi-refresh" style="color: purple; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.recurringFlag" pTooltip="Recurring"></i> <!-- Recurring or Continuous -->
                    <i class="pi pi-exclamation-triangle" style="color: red; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.lateFeeFlag" pTooltip="There is a late fee."></i> <!-- Late Fee -->
                    <i class="pi pi-check" style="color: green; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.autopayFlag" pTooltip="Autopay Is Enabled"></i> <!-- Auto Pay -->
                  </span>
                  <div *ngIf="col.header !== 'Actions' && col.header !== 'Details'">
                      {{ rowData.data[col.field] }}
                  </div>
                  <div *ngIf="col.header === 'Actions' && col.header !== 'Details'">
                    <!-- <i class="pi pi-pencil " style="margin-right: 10px; cursor: pointer;" (click)="edit(rowData.data['id'])"></i>Edit -->
                    <span style="margin-right: 10px; cursor: pointer;" (click)="edit(rowData.data['id'])"><i class="pi pi-pencil "></i>Edit</span>
                    <br>
                    <span style="margin-right: 10px; cursor: pointer;" (click)="confirmDelete(rowData.data['id'])"><i class="pi pi-trash "></i>Delete</span>
                  </div>
                  <div *ngIf="col.header === 'Details'">
                    <i class="pi pi-money-bill" style="color: blue; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.billVariableFlag" pTooltip="Bill Ammount Varies"></i> <!-- Bill Variable -->
                    <i class="pi pi-calendar-minus" style="color: orange; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.dueDateModifiableFlag" pTooltip="Bill Pay Date Can Be Changed"></i> <!-- Date Modifiable -->
                    <i class="pi pi-refresh" style="color: purple; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.recurringFlag" pTooltip="Recurring"></i> <!-- Recurring or Continuous -->
                    <i class="pi pi-exclamation-triangle" style="color: red; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.lateFeeFlag" pTooltip="There is a late fee."></i> <!-- Late Fee -->
                    <i class="pi pi-check" style="color: green; margin-right: 8px; font-size: 1.5rem" *ngIf="rowData.data.autopayFlag" pTooltip="Autopay Is Enabled"></i> <!-- Auto Pay -->
                  </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="showAddDialog" header="Add Bill"
  (onHide)="clearEdit()" [style]="{'width': '95vw'}" [closeOnEscape]="false">
    <ng-template pTemplate="content">
      <app-bill-details (closeModal)="clearEdit()" [id]="editId"></app-bill-details>
    </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="showDeleteDialog" header="Delete Bill"
   [style]="{'width': '50vw'}" [closeOnEscape]="false">
    <ng-template pTemplate="content">
      Are you sure you want to delete this bill?
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button type="button" severity="danger" [style]="{'margin-right': '15px'}" (click)="delete()">Yes</p-button>
      <p-button type="button" severity="info" (click)="showDeleteDialog = false; deleteId = undefined;">No</p-button>
      
    </ng-template>
    
</p-dialog>