/* login.component.css */

.login-panel {
    width: 300px;
    margin: auto;
    margin-top: 50px;
  }
  
  .register-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .register-link a {
    color: #007bff; /* Link color */
    cursor: pointer;
  }
  