<p-button icon="pi pi-check" [rounded]="true"></p-button>
<p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary"></p-button>
<p-button icon="pi pi-search" [rounded]="true" severity="success"></p-button>
<p-button icon="pi pi-user" [rounded]="true" severity="info"></p-button>
<p-button icon="pi pi-bell" [rounded]="true" severity="warning"></p-button>
<p-button icon="pi pi-heart" [rounded]="true" severity="help"></p-button>
<p-button icon="pi pi-times" [rounded]="true" severity="danger"></p-button>
