<div class="col-12" style="display: inline-block; padding: 5px; vertical-align: bottom;">
    <p-card [style]="{'min-height': '250px'}">
        <div>
            Weekly Summary
        </div>
        <div class="p-card-content"  [ngStyle]="{'font-size': mobile ? '16px' : '14px'}">
            <ul>
                <li>Income: ${{weeklyIncome}}</li>
                <li>Outgoing: ${{weeklyOutgoing}}</li>
                <li [ngClass]="getRemainderColor()">
                    Remainder: ${{ weeklyRemainder | number }}
                </li>
                  
            </ul>
        </div>
    </p-card>
</div>